.Container{
  width: 100%;
  margin: 90px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginContainer{
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;

}

.form{
  padding: 20px 30px;
  width: 100%;
  background-color: #F2F6FF;
  border: 3px solid #C4D0EB;
  color: #202D48;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.con{
  margin: 20px 0;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
  margin: 20px 0;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.loginIcon{
  margin-right: 10px;
}

.emailConatiner {
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.passwordContainer{
  width: 100%;
  margin: 20px 0;
  position: relative;
}

.btnContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.OR{
  margin-top: 20px;
  color: #202D48;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

.OR::before{
  margin-left: 10px;
  content: '';
  position: absolute;
  border: 1px solid #202D48;
  width: 200px;
  top: 7px;
  left: 90%;
}

.OR::after{
  margin-right: 10px;
  content: '';
  position: absolute;
  border: 1px solid #202D48;
  width: 200px;
  top: 7px;
  right: 90%;
}

.signUpOption{
  color: #86838388;
  font-weight: 700;
  font-size: 12px;
}

.SginUp{
  color: #202D48;
  cursor: pointer;
  text-decoration: none;
}

.SginUp:hover{
  text-decoration: underline;
}

.errorMsg{
  color: red;
}


@media (max-width: 1409px) {
  .Container{
    margin: 150px auto;
  }
}


.errorMsg{
  color: red;
  font-size: 12px;
  margin-top: 5px;
}