.todoContainer{
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px;
  overflow: hidden;
  position: absolute;
}

.parts{
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.tasks{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 100%;
}


@media (max-width: 1409px) {
  .tasks{
    gap: 10px;
  }
}
