.formContainer{
  margin: 2px  0px 10px 0px;
  width: 100%;
  border: 1px solid #C4D0EB;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

/*styling form card*/
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputField{
  width: 100%;
  outline: none;
  border: 1px solid #C4D0EB;
  height: 40px;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
}

::placeholder{
  font-size: 14px;
}

.textareaField{
  margin-top: 10px;
  width: 100%;
  outline: none;
  border: 1px solid #C4D0EB;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  resize: none;
  margin-bottom: 10px;
}

.addButton{
  width: 100px;
  height: 40px;
  margin: auto;
  border: none;
  outline: none;
  color: #F2F6FF;
  background-color: #202D48;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}